<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict data</title>
</head>
<body>
    <h2>Post Form</h2>
    <form action="{{url_for('predict_datapoint')}}" method="post">
        <input type="text" name="Temperature" placeholder="Temperature" required><br><br>
        
        <input type="text" name="RH" placeholder="RH" required><br><br>
        
        <input type="text" name="Ws" placeholder="Ws"><br><br>
        
        <input type="text" name="Rain" placeholder="Rain"><br><br>
        
        <input type="text" name="FFMC" placeholder="FFMC"><br><br>
        
        <input type="text" name="DMC" placeholder="DMC"><br><br>
        
        <input type="text" name="ISI" placeholder="ISI"><br><br>
        
        <input type="text" name="Classes" placeholder="Classes" required><br><br>
        
        <input type="text" name="Region" placeholder="Region" required><br><br>
        
        <button type="submit">Predict</button>
    </form>
    <h2>The FWI Prediction is {{results}} </h2>
</body>
</html>
